In [1]:
import sys

sys.path.append("../Library/")
import get_data as gd
import datetime as dt

In [2]:
requester = "anita.loo@hp.com"
email_folder = "PD"

In [3]:
ods = gd.Get_Data("mssql", "hrods", "PD")

# set paths
ods.set_path(
    "output", "C:\\Users\\garciand\\OneDrive - HP Inc\\Desktop\\Deliverables\\Output\\"
)

ods.set_path("input", "C:\\Users\\garciand\\HP Inc\\HPI Restricted - HPI\\")

In [4]:

# query statement
# report dates
hc_date = "'2021-12-31'" # this date should be last day of previous month
hire_date_from = "'2022-01-04'" # this date should be equal to the date for the requested report

# file name dates
report_date_from = "'2022-01-04'"
report_date_to = "'2022-02-03'"
queryPath = "C:\\Users\\garciand\\OneDrive - HP Inc\\Desktop\\Python_Analytics\\Python_Analysis\\Queries\\PD_New_Managers.sql"

with open(queryPath) as get:
    query = get.read()

# add query result to data frame
new_managers = ods.internal_query(query.format(hc_date, hire_date_from))

# export data to excel
nameFrom = dt.datetime.strptime(report_date_from.replace("'", ""), "%Y-%m-%d").strftime(
    "%b %d %Y"
)
nameTo = dt.datetime.strptime(report_date_to.replace("'", ""), "%Y-%m-%d").strftime(
    "%b %d %Y"
)
filename = "New Managers {0} - {1}".format(nameFrom, nameTo)

In [5]:
# sample data
new_managers.sample(5)

,Worker ID,Name,Email,Previous Management Level,Current Management Level,City/Location,Pay Group Country Desc,Pay Group Theater Code,Manager,Manager Email,Type of Movement,Management Chain - Level 01 Preferred Name,Management Chain - Level 02 Preferred Name,Management Chain - Level 03 Preferred Name,L1 Business
31,90000908,"Pascua, Claire Anne Peralta",claire.anne.pascua@hp.com,MAS,MG2,Singapore,Singapore,APJ,"Zavalloni, Cesare",cesare.zavalloni@hp.com,Promotion,"Batra, Vikrant","Masand, Deepak","Zavalloni, Cesare",Marketing
85,21633144,"Bandyopadhyay, Avisheak",avisheak.bandyopadhyay@hp.com,None,SU2,Bangalore,India,APJ,"Iancu, Sabina",sabina-elena.campian@hp.com,New Hire,"Schell, Christoph","Rabenstein, Rainer","Lieberthal, Brandon",Commercial Organization
20,90021867,"Vargas, Stephanie",stephanie.vargas@hp.com,EXP,MG1,Portland (OR),United States of America,AMS,"PINTO, TALIA",talia.pinto@hp.com,Promotion,"Batra, Vikrant","Gabriel, Val","PINTO, TALIA",Marketing
77,90038297,", Satisha H R",satisha.ramanjaneyalu@hp.com,None,MG1,Bangalore,India,APJ,"Iancu, Sabina",sabina-elena.campian@hp.com,New Hire,"Schell, Christoph","Rabenstein, Rainer","Lieberthal, Brandon",Commercial Organization
5,60055821,"Kumar, M Santhosh",m-santhosh.kumar@hp.com,MAS,MG1,New Delhi,India,APJ,"Gupta, Kavit",kavit.gupta@hp.com,Promotion,"Schell, Christoph","Patel, Ketan Maganlal","Gupta, Kavit",Commercial Organization

In [6]:
# export to excel
ods.export_data(
    new_managers,
    custom_filename=filename,
    protect_file=True,
    draft_email=False,
    requester=requester,
    email_folder=email_folder,
)